{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">

        {{ profile.firstname ?? 'null'  }}
        {{ profile.lastname  ?? 'null' }}
        {{ profile.user.username ?? 'null'  }}
        {{ profile.user.email  ?? 'null' }}
        {% if profile.filename %}
            <img src="{{ vich_uploader_asset(profile, 'imageFile') | imagine_filter('profile_thumb') }}" alt="{{ profile.filename }}" >
        {% endif %}

    </section>
{% endblock %}
