{% extends 'form.html.twig' %}

{% block title%}Inscription{% endblock %}

{% block form %}
    <div class="login-form">
        {{ form_start(form) }}
            <div class="form-group">
                <div class="form-error">{{ form_errors(form.username) }}</div>
                {{ form_label(form.username) }}
                {{ form_widget(form.username, {'attr': {'class': 'au-input au-input--full', 'placeholder': 'Username'}}) }}
            </div>
            <div class="form-group">
                <div class="form-error">{{ form_errors(form.email) }}</div>
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'au-input au-input--full', 'placeholder': 'Email'}}) }}
            </div>
            <div class="form-group">
                <div class="form-error">{{ form_errors(form.password) }}</div>
                {{ form_label(form.password) }}
                {{ form_widget(form.password, {'attr': {'class': 'au-input au-input--full', 'placeholder': 'Password'}}) }}
            </div>
            <div class="form-group">
                <div class="form-error">{{ form_errors(form.confirmPassword) }}</div>
                {{ form_label(form.confirmPassword) }}
                {{ form_widget(form.confirmPassword, {'attr': {'class': 'au-input au-input--full', 'placeholder': 'Password'}}) }}
            </div>
            <div class="login-checkbox">
                <label>
                    <input type="checkbox" name="aggree">Agree the terms and policy
                </label>
            </div>
            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">register</button>
            {#<div class="social-login-content">
                <div class="social-button">
                    <button class="au-btn au-btn--block au-btn--blue m-b-20">register with facebook</button>
                </div>
            </div>#}

        {{ form_end(form) }}
        <div class="register-link">
            <p>
                Already have account?
                <a href="{{ path('security_login') }}">Sign In</a>
            </p>
        </div>
    </div>
{% endblock %}