{% extends 'base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}

    <div class="container">
    {% if editMode %}
        <h1>Edit Customer</h1>
    {% else %}
        <h1>New Customer</h1>
    {% endif %}

    {{ form_start(formCustomer) }}

    {{ form_row(formCustomer.name) }}
    {{ form_row(formCustomer.type) }}
    {{ form_row(formCustomer.email) }}
    {{ form_row(formCustomer.code) }}
    {{ form_row(formCustomer.address) }}
    {{ form_row(formCustomer.postalCode) }}
    {{ form_row(formCustomer.city) }}
    {{ form_row(formCustomer.country) }}

    <button type="submit" class="btn btn-primary">
        {% if editMode %}
            Edit customer
        {% else %}
            Add customer
        {% endif %}
    </button>

    {{ form_end(formCustomer) }}
</div>
{% endblock %}
