{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ product.name }}</h1>
    <p>{{ product.type }}</p>
    <p>{{ product.description }}</p>
    <p>{{ product.stock }}</p>
    
    {% if product.filename %}
        <img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('my_thumb') }}" alt="{{ product.filename }}" >
    {% endif %}
</div>
{% endblock %}
