<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MyERP{% endblock %}</title>

        <!-- afin de pouvoir lire les fichier css de webpack -->
        {{ encore_entry_link_tags('app') }}

        <!-- Bootstrap CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ asset('build/theme.css') }}">
        <link rel="stylesheet" href="{{ asset('build/font-face.css') }}">


        {% block stylesheets %}{% endblock %}
    </head>
    <body class="animsition">
        <div class="page-wrapper">

            <!-- MENU -->
            {% include 'menu.html.twig' %}

            <!-- PAGE CONTAINER-->
            <div class="page-container">

                <!-- HEADER -->
                {% include 'header.html.twig' %}

                <!-- MAIN CONTENT PAGE -->
                <div class="main-content">
                    <!-- FLASH MESSAGE -->
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="m-l-30 m-r-30 sufee-alert alert with-close alert-{{ label }} alert-dismissible fade show">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <!-- END FLASH MESSAGE -->

                {% block body %}{% endblock %}

                </div>

            <!-- END PAGE CONTAINER -->
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- afin de pouvoir lire les fichier css de webpack -->
        {{ encore_entry_script_tags('app') }}

        <script type="text/javascript" src="{{ asset('build/app.js')}}"></script>
        <script type="text/javascript" src="{{ asset('build/main.js')}}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
